<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
  
    html {
      zoom: 1;
    }
  
    .clear {
      clear: both
    }
  
    .negotiation-document {
      font-family: 'Work Sans', sans-serif;
      font-size: 12px;
    }
  
    .negotiation-document .title {
      font-size: 28px;
      text-align: center;
      background: #ededed;
      font-weight: 600;
      padding-top: 15px;
      padding-bottom: 7px;
    }
  
    .negotiation-document .title .subtitle {
      font-size: 12px;
      text-align: center;
      background: #ededed;
      font-weight: 600;
      margin-top: 20px;
      display: block;
    }
  
    .negotiation-document .company .table,
    .negotiation-document .coffee .table {
      margin: 0px;
      background-color: white
    }
  
  
    .negotiation-document .company .table .row div,
    .negotiation-document .coffee .table .row div {
      margin-bottom: 2px
    }
  
    .negotiation-document .company .table .row,
    .negotiation-document .coffee .table .row::after {
      clear: both
    }
  
    .negotiation-document .company .table .row,
    .negotiation-document .coffee .table .row::before {
      clear: both
    }
  
    .negotiation-document .company .table .row .name,
    .negotiation-document .coffee .table .row .name {
      width: 50%;
      overflow: hidden;
      color: #adabab;
      font-size: 12px;
      float: left;
    }
  
    .negotiation-document .coffee .table .row .name {
      width: 82%
    }
  
    .negotiation-document .company .table .row .name:before,
    .negotiation-document .coffee .table .row .name:before {
      float: left;
      width: 0%;
      white-space: nowrap;
      margin-top: -4px;
      letter-spacing: 0.3px;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    }
  
    .negotiation-document .company .table .row .name span,
    .negotiation-document .coffee .table .row .name span {
      background-color: white;
      padding-right: 5px
    }
  
    .negotiation-document .company .table .row .data,
    .negotiation-document .coffee .table .row .data {
      width: 45%;
      font-size: 12px;
      letter-spacing: 0.3px;
      padding-left: 10px;
      color: #4a4a4a;
      float: left;
    }
  
    .negotiation-document .coffee .table .row .data {
      width: 15%;
      float: right
    }
  
    .negotiation-document .company .role {
      font-size: 12px;
      color: #b5b5b5;
      margin-bottom: 5px;
    }
  
    .negotiation-document .company .companyName {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 5px;
      color: #363636
    }
  
    .negotiation-document .coffee {
      margin-top: 25px;
      font-size: 14px;
      background: #ededed;
      padding: 15px;
      min-height: 70px;
    }
  
    .negotiation-document .coffee .type {
      font-weight: 600;
      margin-bottom: 15px;
      color: #363636
    }
  
    .negotiation-document .coffee .table .row {
      background: #ededed
    }
  
  
    .negotiation-document .coffee .table .row .name span {
      background: #ededed
    }
  
    .negotiation-document .observations {
      margin-top: 25px
    }
  
    .negotiation-document .tax {
      font-size: 12px;
      color: #363636;
    }
  
    .negotiation-document .observations .table {
      border: 1px solid #dbdbdb;
      width: 100%;
      background-color: white
    }
  
    .negotiation-document .observations .table .title {
      border-right: 1px solid #dbdbdb;
      width: 120px;
      text-align: left;
      font-weight: normal;
      padding: 10px;
      font-size: 12px;
      color: #b5b5b5;
      background: none
    }
  
    .negotiation-document .observations .table .title div {
      margin-bottom: 5px
    }
  
    .negotiation-document .observations .table .title span {
      display: block;
      font-size: 10px
    }
  
    .negotiation-document .observations .table .content {
      font-size: 12px;
      padding: 10px;
      color: #4a4a4a;
      text-transform: capitalize;
    }
  
    .tax-description {
      margin-top: 10px;
      font-size: 10px;
    }
  
    .negotiation-document .observations .table .content .address {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
  
    .negotiation-document .observations .table .content ul {
      list-style: none;
      margin: 0;
    }
  
    .negotiation-document .message {
      background: none;
      font-size: 12px;
      margin-top: 20px;
    }
  
    .negotiation-document .message p {
      color: #b5b5b5
    }
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  
    tr {
      border-bottom: solid 1px rgb(200, 200, 200);
    }
  </style>
  <body>
    <div class="card">
      <div class="card-content">
        <div class="negotiation-document">
          <div class="title">
            Confirmação de Negociação
            <div class="subtitle">Transação: IMPLEMENTAR_DADO</div>
          </div>
    
          <div class="company">
            <div class="role">Comprador</div>
            <div class="companyName"><%= buyer.businessName %></div>
            <div class="table">
              <div class="row">
                <div class="name"><span>Contato</span></div>
                <div class="data">IMPLEMENTAR_DADO /
                  <a href="mailto:IMPLEMENTAR_DADO" class="mailto-link">
                    IMPLEMENTAR_DADO
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="name"><span>CNPJ</span></div>
                <div class="data"><%= buyer.cnpj %></div>
              </div>
              <div class="row">
                <div class="name"><span>Inscrição estadual</span></div>
                <div class="data"><%= buyer.stateRegistration %></div>
              </div>
              <div class="row">
                <div class="name"><span>Endereço</span></div>
                <div class="data">
                  <%= buyer.streetAddress %> -
                  <%= buyer.numberAddress %> -
                  <%= buyer.complementAddress %> -
                  <%= buyer.suburbAddress %> -
                  <%= buyer.cityAddress %> -
                  <%= buyer.stateAddress %>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
    
          <div class="company">
            <div class="role">Lojista</div>
            <div class="companyName"><%= trader.companyName %></div>
            <div class="table">
              <div class="row">
                <div class="name"><span>Contato</span></div>
                <div class="data">IMPLEMENTAR_DADO /
                  <a href="mailto:IMPLEMENTAR_DADO" class="mailto-link">
                    IMPLEMENTAR_DADO
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="name"><span>CNPJ</span></div>
                <div class="data"><%= trader.cnpj %></div>
              </div>
              <div class="row">
                <div class="name"><span>Inscrição estadual</span></div>
                <div class="data"><%= trader.stateRegistration %></div>
              </div>
              <div class="row">
                <div class="name"><span>Endereço</span></div>
                <div class="data">
                  <%= trader.streetAddress %> -
                  <%= trader.numberAddress %> -
                  <%= trader.complementAddress %> -
                  <%= trader.suburbAddress %> -
                  <%= trader.cityAddress %> -
                  <%= trader.stateAddress %>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
    
    
          <div class="coffee">
            <div class="type">
              <%= negotiation.harvestSeason %>
            </div>
            <div class="table">
              <div class="row">
                <div class="name"><span>Quantidade</span></div>
                <div class="data"><%= negotiation.amount %></div>
              </div>
              <div class="row">
                <div class="name"><span>Preço (R$)</span></div>
                <div class="data"><%= negotiation.price %>*</div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <span class="tax"><%= negotiation.interestIncluded ? '* Valor livre de Funrural e Senar' : '* Valor sujeito à incidência de Funrural e Senar' %></span>
    
          <div class="observations">
            <table class="table">
              <tr>
                <td colspan="2">Produtor vinculado</td>
              </tr>
              <tr>
                <td class="title"><%= negotiation.amount %> sacas (60KG)</td>
                <td class="content"><%= farmer.stateRegistration ? 'IE: '+farmer.stateRegistration+' - ' : '' %><%= farmer.name %></td>
              </tr>
            </table>
    
            <table class="table">
              <tr>
                <td class="title">Sacaria</td>
                <td class="content">Café acondicionado em BigBag ou Sacaria</td>
              </tr>
              <tr>
                <td class="title">Qualidade</td>
                <td class="content">
                  Café <%= negotiation.typeCoffee %>, <%= negotiation.descriptionCoffee %> <b><%= negotiation.certificate ? 'Com certificação 4C' : '' %></b>.
                </td>
              </tr>
              <tr>
                <td class="title">Prazo de entrega</td>
                <td class="content">
                  <%= negotiation.deliveryDate %>
              </tr>
              <tr>
                <td class="title">Condições de pagamento</td>
                <td class="content">
                  Até 2 (dois) dias após entrega e conferência<br/>
                  <% if(!negotiation.interestIncluded) { %>
                    <span class="tax-description">
                      Nas negociações firmadas sem o desconto das contribuições FUNRURAL e SENAR, deverá ser acrescidasde 1,5% incidente sobre o valor total da operação por conta exclusiva do produtor rural (vendedor).
                    </span>
                  <% } %>
                </td>
              </tr>
    
              <tr>
                <td class="title">Banco de recebimento</td>
                <td class="content">
                  <ul>
                    <li> Banco: <%= trader.bankNumber %> - <%= trader.bankName %></li>
                    <li> Agência: <%= trader.bankAgency %></li>
                    <li> Conta: <%= trader.bankAccount %></li>
                    <li> CNPJ/CPF: <%= trader.cnpj %></li>
                  </ul>
                </td>
              </tr>
    
              <tr>
                <td class="title">
                  <div>Local de descarga</div>
                  <br />
                  <span>CNPJ</span>
                  <span>Endereço</span>
                </td>
                <td class="content">
                  <ul>
                    <li>Nome: <%= warehouse.name %></li>
                    <li>Endereço:
                      <%= warehouse.streetAddress %> -
                      <%= warehouse.numberAddress %> -
                      <%= warehouse.complementAddress %> -
                      <%= warehouse.suburbAddress %> -
                      <%= warehouse.cityAddress %> -
                      <%= warehouse.stateAddress %>
                    </li>
                  </ul>
    
                  <ul class="address">
                    <li>
                      CNPJ: <%= buyer.cnpj %>
                    </li>
                    <li>
                      Endereço:
                      <%= buyer.streetAddress %> -
                      <%= buyer.numberAddress %> -
                      <%= buyer.complementAddress %> -
                      <%= buyer.suburbAddress %> -
                      <%= buyer.cityAddress %> -
                      <%= buyer.stateAddress %>
                    </li>
                  </ul>
    
                </td>
              </tr>
              <tr>
                <td class="title">Observações</td>
                <td class="content"></td>
              </tr>
            </table>
          </div>
    
          <div class="message">
            <p>
              Essa Confimação de Compra e Venda foi gerada automaticamente no <a
                href="contacafe.com.br">contacafe.com.br</a> e não é um
              documento oficial de compra e venda de café. As partes envolvidas se comprometem a seguir com o acordo e
              formalizar a documentação necessária
            </p>
          </div>
    
        </div>
    
      </div>
    </div>
  </body>
</html>
